.registry {
    background-color: #eee2fa;
    padding-top: 60px;
    padding-bottom: 53px;

    &__title {
        font-family: Comfortaa;
        font-size: 19px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 10px;
        @media (min-width: 580px) {
            font-size: 24px;
            line-height: 28px;
        }

        @media (min-width: 1120px) {
            font-size: 30px;
            line-height: 36px;
        }
    }

    &__description {
        font-family: Nunito;
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 25px;
        @media (min-width: 580px) {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 50px;
        }
        @media (min-width: 820px) {
            margin-bottom: 67px;
        }

        @media (min-width: 1120px) {
            margin-bottom: 67px;
        }
    }

    &__radio {
        font-family: Nunito;
        font-size: 30px;
        font-weight: 400;
        line-height: 41px;
        letter-spacing: 0em;
        text-align: center;
        display: flex;
        justify-content: center;
        column-gap: 20px;
        @media (min-width: 580px) {
            margin-bottom: 40px;
        }
    }

    &__circle {
        font-family: Nunito;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        width: 33px;
        height: 33px;
        border-radius: 50px;
        border: 1px solid #c6b6d7;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #c6b6d7;
        cursor: pointer;
        @media (min-width: 580px) {
            width: 50px;
            height: 50px;
            font-size: 30px;
            line-height: 41px;
        }
    }

    &__circle--active {
        color: #6e479e;
        border-color: #6e479e;
        cursor: default;
    }

    &__page {
        display: grid;
        row-gap: 10px;
        @media (min-width: 820px) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 40px;
            column-gap: 18px;
        }
    }

    &__point {
        display: flex;
        flex-direction: column;
        row-gap: 2px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        width: 100%;

        @media (min-width: 580px) {
            font-size: 15px;
            line-height: 20px;
        }
    }

    &__input {
        height: 50px;
        border-radius: 10px;
        border: 1px solid #c6b6d7;
        padding: 20px;
        @media (min-width: 580px) {
            height: 70px;
            font-size: 15px;
            line-height: 20px;
        }
    }

    &__point--patronymic {
        margin-bottom: 30px;
        @media (min-width: 580px) {
            margin-bottom: 40px;
        }
    }

    &__submit {
        font-family: Nunito;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        height: 50px;

        padding: 12px 30px 12px 30px;
        border-radius: 10px;
        gap: 10px;
        background: $color-gradient;
        color: $color-white;
        margin-bottom: 60px;
        @media (min-width: 820px) {
            grid-column: 3/4;
            grid-row: 2/3;
        }
    }

    &__submit--two {
        @media (min-width: 820px) {
            height: 70px;
            grid-column: 3/4;
            grid-row: 1/2;
            margin-bottom: 0;
            align-self: self-end;
        }
    }

    &__agree {
        grid-row: 4/5;
        @media (min-width: 820px) {
            grid-column: 3/4;
            grid-row: 2/3;
            align-self: self-end;
        }
    }

    &__success {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
        background-color: $color-white;
        width: 100%;
        padding-top: 66px;
        @media (min-width: 1120px) {
            margin: 0 auto;
            margin-top: 68px;
            max-width: 1180px;
        }
    }

    &__check-img {
        background-image: url("/icon/Check.svg");
        background-repeat: no-repeat;
        width: 54px;
        height: 54px;
        background-size: contain;
    }
    &__text {
        font-family: Nunito;
        font-size: 17px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        @media (min-width: 1120px) {
            font-size: 30px;
            line-height: 36px;
            max-width: 600px;
        }
    }
    &__text-description {
        font-family: Nunito;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 86px;
        @media (min-width: 1120px) {
            font-size: 18px;
            line-height: 23px;
            max-width: 600px;
        }
    }
}
