$color-dark: #210b36;
$color-white: #ffffff;
$color-pink: #b865d6;
$color-grey-pink: #eee2fa;
$color-gradient: linear-gradient(
    87.4deg,
    #2e00b1 -11.74%,
    #8100bd 48.81%,
    #a400be 113.27%
);
